
.zippy {
    border: 1px solid green;
    border-radius: 2px;
}

.zippy-heading {

    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.zippy-body {
    padding: 30px
}

.expanded {
    background: grey;
}

.fa-arrow-up, .fa-arrow-down {
    float: right;
}